<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% block title %} Base {% endblock title %}</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCorrea/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'Inicio' %}">AUTOSERVICIO CORREA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}#beneficios">Beneficios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}#contacto">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inicio' %}#acercade">Acerca de</a></li>
                        {% if not user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Leer Promociones' %}">Promociones</a></li>
                        {% endif %}
                        
                        <!--Esto es para el cliente logueado-->
                        {% if user.is_authenticated %}

                            {% if not user.is_superuser %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mis Pedidos</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'Cargar MIS Pedidos' %}">Cargar Pedido</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="{% url 'Leer solo mis Pedidos' %}">Ver mis Pedidos</a></li>
                                </ul>
                            {% else %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Promociones</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'Cargar Promociones' %}">Cargar Promociones</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="{% url 'Leer Promociones' %}">Ver Promociones</a></li>
                                </ul>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'Leer Pedidos' %}">Ver pedidos</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="{% url 'Buscar Pedidos' %}">Buscar Pedidos</a></li>
                                </ul>
                            {% endif %}
                        {% endif %}

                    </ul>
                    

                    {% if request.user.is_authenticated %}
                    <a href="{% url 'Editar_perfil' %}" class="btn btn-primary" style="margin-right: 10px;">{{request.user.username}}</a></button>
                    <a href="{% url 'Logout' %}" class="btn btn-primary">Salir</a></button>
                    {% else %}
                    <a href="{% url 'Login' %}" class="btn btn-primary" style="margin-right: 10px;">Iniciar Sesión</a></button>
                    <a href="{% url 'Register' %}" class="btn btn-primary">Registrarse</a></button>
                    {% endif %}
                    
                </div>
            </div>
        </nav>

        <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Gracias por confiar</h1>
                <p class="lead fw-normal text-white-50 mb-0">COMPRÁ DESDE CASA</p>
            </div>
        </div>
    </header>
        <div class="container text-center">
            <h1>{{ mensaje }}</h1>
        </div>
       
        <!-- Section--> 
        {% block main %}

        {% endblock main %}

        <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">CoderHouse &copy; Python</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <style>
                        .bi.bi-instagram {font-size: 20px;}
                        .bi.bi-facebook {font-size: 20px;}
                        .bi.bi-whatsapp {font-size: 20px;}
                    </style>
                    <a class="btn btn-light btn-social mx-2" target="_blank" href="https://www.instagram.com/autoservicio_correa/?hl=es-la" aria-label="Instagram"><i class="bi bi-instagram text-dark mx-4"></i></a>
                    <a class="btn btn-light btn-social mx-2" target="_blank" href="https://www.facebook.com/p/Autoservicio-Correa-100063660636333/" aria-label="Facebook"><i class="bi bi-facebook text-dark mx-4"></i></a>
                    <a class="btn btn-light btn-social mx-2" target="_blank" href="https://wa.me/+5493564640549" aria-label="WhatsApp"><i class="bi bi-whatsapp text-dark mx-4"></i></a>
                    </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" target="_blank" href="https://www.linkedin.com/in/franco-mathier/">@Franco Mathier</a>
                </div>
            </div>
        </div>
    </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS>
        <script src="js/scripts.js"></script-->
    </body>
</html>
