{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Cargar Pedido {% endblock title %}

{% block main %}

<div class="container">

    <h4>Cargar Pedido</h4>
    
</div>

<div class="container">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Cargar</button>
            <a href="{% url 'Inicio' %}" class="btn btn-primary">Regresar</a></button>
        </form>
    </div>    
</div>


{% endblock main %}



