{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Carga Promocion {% endblock title %}

{% block main %}

<div class="container px-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p><strong><u>Fecha Inicio:</strong></u> <input type="date" name="fecha_inicio"></p>
        <p><strong><u>Fecha Fin:</strong></u> <input type="date" name="fecha_fin"></p>
        <p><strong><u>Título:</strong></u> <input type="text" name="titulo_promo"></p>
        <p><strong><u>Precio Total:</strong></u> $ <input type="number" name="precio_promo"></p>
        <p><strong><u>Estado:</strong></u> <input type="text" name="estado_promo"></p>
        <p><strong><u>Descripción:</strong></u> <textarea type="text" name="descripcion_promo"></textarea></p>
        <p><strong><u>Imagen:</strong></u> <input type="file" name="imagen_promo"></p><br>
        <input type="submit" value="Cargar" class="btn btn-primary">
    </form>
    </h2>
</div>


{% endblock main %}



