{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Carga Pedidos {% endblock title %}

{% block main %}

    <!-- Content section 1-->

                            <form action="" method="POST">
                                {% csrf_token %}
                                <p>Nombre: <input type="text" name="cliente_pedido"></p>
                                <p>Fecha Entrega: <input type="date" name="fecha_pedido"></p>
                                <p>Horario Entrega: <input type="text" name="horario_entrega"></p>
                                <p> Detalle Pedido: <textarea type="text" name="detalle_pedido"></textarea></p>
                                <input type="submit" value="Enviar">
                        
                            </form>
                        </section>

{% endblock main %}



