{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Detalle Pedido {% endblock title %}

{% block main %}

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-2">
                </div>
                <div class="col-lg-12 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-6">
                            
                            Cliente: {{ pedido.cliente_pedido }}<br>
                            Fecha Entrega: {{ pedido.fecha_pedido }}<br>
                            Horario Entrega: {{ pedido.horario_entrega }}<br>
                            Detalle Pedido: {{ pedido.detalle_pedido }}<br>
                            <a href="{% url 'Leer Mis Pedidos' %}" class="btn btn-primary">Regresar</a></button>
                           
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock main %}



