{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Detalle Promoción {% endblock title %}

{% block main %}

<div class="container px-5">
    <div>
        <p><strong><u>Promoción:</strong></u> {{ promocion.titulo_promo }}
        <div><img src="{{ promocion.imagen_promo.url}}" class="card-img-top" alt="..." style="max-width: 300px; max-height: auto;"></div><br>
        <p><strong><u>Fecha Inicio:</strong></u> {{ promocion.fecha_inicio }}
        <p><strong><u>Fecha Fin:</strong></u> {{ promocion.fecha_fin }}
        <p><strong><u>Precio:</strong></u> $ {{ promocion.precio_promo_con_separador }}
        <p><strong><u> Estado:</strong></u> {{ promocion.estado_promo }}
        <p><strong><u>Detalle:</strong></u> {{ promocion.descripcion_promo }}<br><br>
        <a href="{% url 'Leer Promociones' %}" class="btn btn-primary">Regresar</a></button>              
    </div>
    <br>
    <div class="container">
    <h4>Comentarios...</h4>
            <div class="container">
                {% if user.is_authenticated %}
                <a href="{% url 'comentario' promocion.pk %}">Agrega un Comentario</a> <br>                
                    {% if not promocion.comentarios.all %}
                            No han comentado esta promo...
                    {% else %}
                <br>
                <br>
                        <hr>
                        {% for comentario in promocion.comentarios.all %}
                        <p><strong>{{comentario.nombre}} {{comentario.apellido}}</strong></p>
                        <p>{{comentario.mensaje}}</p>
                        <p><small>{{comentario.fecha_comentario}}</small></p>
                        <hr>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    Para poder leer o dejar un comentario debes primero loguearte. <a href="{% url 'Login' %}">Ir a Login</a>
                {% endif %}
            </div>
    </div>
</div>
{% endblock main %}



