{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Detalle Pedido {% endblock title %}

{% block main %}


<div class="container px-5">
    <div>
        <p><strong><u>Cliente:</strong></u> {{ mipedido.nombre_apellido }}
        <p><strong><u>Fecha Entrega:</strong></u> {{ mipedido.fecha_pedido }}
        <p><strong><u>Horario Entrega:</strong></u> {{ mipedido.horario_entrega}}
        <p><strong><u>Lugar Entrega:</strong></u> {{ mipedido.lugar_entrega }}
        <p><strong><u>Estado:</strong></u> {{ mipedido.estado_pedido }}
        <p><strong><u>Detalle Pedido:</strong></u> {{ mipedido.detalle_pedido }}<br><br>
        <a href="#" class="btn btn-primary" onclick="history.back(); return false;">Regresar</a>
    </div>
</div>



{% endblock main %}



