{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Detalle Promoción {% endblock title %}

{% block main %}

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-2">
                </div>
                <div class="col-lg-12 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-6">
                            
                            Promoción: {{ promocion.titulo_promo }}<br>
                            <img src="{{ promocion.imagen_promo.url}}" class="card-img-top" alt="...">
                            Fecha Inicio: {{ promocion.fecha_inicio }}<br>
                            Fecha Fin: {{ promocion.fecha_fin }}<br>
                            Precio: $ {{ promocion.precio_promo }}<br>
                            Estado: {{ promocion.estado_promo }}<br>
                            Detalle: {{ promocion.descripcion_promo }}<br>
                            <a href="{% url 'Leer Promociones' %}" class="btn btn-primary">Regresar</a></button>
                           
                        </h2>
                    </div>

                <br>
                <div class="container">
                    <h4>Comentarios...</h4>
                    <br>
                    <div class="container">
                    {% if not promocion.comentarios.all %}
                        No han comentado esta promo...
                    {% else %}
                        {% for comentario in promocion.comentarios.all %}
                        <p><strong>{{comentario.nombre}}</strong></p>
                        <p>{{comentario.mensaje}}</p>
                        <p><small>{{comentario.fecha_comentario}}</small></p>
                        <hr>
                        {% endfor %}
                    {% endif %}
                    <a href="{% url 'comentario' promocion.pk %}">Agrega un Comentario</a-->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>



{% endblock main %}



