{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Editar Promocion {% endblock title %}

{% block main %}
<div class="container">

    <h4>Editar Promoción</h4>
    
</div>

<div class="container px-5">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Actualizar" class="btn btn-primary">
            <a href="{% url 'Leer Promociones' %}" class="btn btn-primary">Regresar</a></button>
        </form>
    </div>    
</div>

{% endblock main %}



