{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Editar Pedido {% endblock title %}

{% block main %}

<div class="container">

    <h4>Editar Pedido</h4>
    
</div>

<div class="container px-5">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Actualizar" class="btn btn-primary">
        <a href="#" class="btn btn-primary" onclick="history.back(); return false;">Regresar</a>
    </form>
    </h2>
</div>


{% endblock main %}



