{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Eliminar Pedido {% endblock title %}

{% block main %}

<div class="container">

    <h4>Eliminar Pedido</h4>
    
</div>

<div class="container px-5">
    <form method="POST">
        {% csrf_token %}
        ¿Estas seguro/a de eliminar el pedido de entrega {{ mipedido.fecha_pedido }}?<br><br>
        <input type="submit" value="Si, Eliminar" class="btn btn-primary">
        <a href="{% url 'Leer solo mis Pedidos' %}" class="btn btn-primary">No, Regresar</a></button>
    </form>
    </h2>
</div>


{% endblock main %}



