{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Eliminar Promocion {% endblock title %}

{% block main %}
<div class="container">

    <h4>Eliminar Promoción</h4>
    
</div>

<div class="container px-5">
    <form method="POST">
        {% csrf_token %}
        ¿Estas seguro/a de eliminar la promoción {{ promocion.titulo_promo }}?<br><br>
        <input type="submit" value="Si, Eliminar" class="btn btn-primary">
        <a href="{% url 'Leer Promociones' %}" class="btn btn-primary">No, Regresar</a></button>
    </form>
</div>

{% endblock main %}



