{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


<!-- INDEX -->

<!-- Beneficios -->

<section class="page-section" id="beneficios">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">Beneficios</h2>
            <h3 class="section-subheading text-muted">¡Aprovechalos!</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Billetera Santa Fe</h4>
                <p class="text-muted">Ahorra un 30% en tu compra, todos los días con Billetera Santa Fe (tope de $5.000 mensual) </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Viernes de Descuentos</h4>
                <p class="text-muted">Todos los viernes, te damos un 10% OFF en todos nuestros productos</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Envíos Gratis</h4>
                <p class="text-muted">Encargá tu pedido, pasanos horario y lugar de entrega y te lo enviamos GRATIS</p>
            </div>
        </div>
    </div>
</section>

{% endblock main %}



