{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Leer Productos {% endblock title %}

{% block main %}

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-2">
                </div>
                <div class="col-lg-12 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-6">
                        
                        <p>Buscamos los pedidos del: {{fecha_pedido}}</p>
                        {% if pedidos_basicos %}
                        
                        <ul>
                            {% for pedidos in pedidos_basicos %}

                                <li> Cliente: {{pedidos.cliente_pedido}} - Entrega: {{pedidos.horario_entrega}}
                                    - Detalle: {{pedidos.detalle_pedido}} </li>
                                    
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock main %}



