{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Leer Promociones {% endblock title %}

{% block main %}

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 order-lg-2">
                </div>
                <div class="col-lg-12 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-6">
                            
                        {% for promocion in promociones %}

                            <li>{{promocion.fecha_inicio}} {{promocion.titulo_promo}}</li>

                        {% endfor %}
                        
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock main %}



