{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Cambiar Contraseña {% endblock title %}

{% block main %}

<div class="container">

    <h4>Cambiar Constraseña de {{request.user.username}}</h4>
    
</div>


<div class="container px-5">
    <form method="POST" class="m-2">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cambiar" class="btn btn-primary">
        <a href="{% url 'Editar_perfil' %}" class="btn btn-primary m-2">Cancelar</a></button>
    </form>
</div>


{% endblock main %}



