{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Editar usuario {% endblock title %}

{% block main %}

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                           <!-- action: representa la url a la que nos va a re-dirigir. Tiene prioridad
    por sobre la redirección que podamos colocar en views.py -->
                  
                        <h1>Editar Perfil</h1>
                        <h1>De: {{request.user.username}}</h1>

                        <form action="" method="POST">{% csrf_token %}
                          
                            <table>
                    
                                {{ form.as_p }}
                    
                            </table>
                    
                            <input type="submit", value="Enviar">

                        </form>
                        <a class="btn btn-outline-dark" href="{% url 'Cambiar_password' %}"><i class=""></i>Cambiar Contraseña</a>
                        <a class="btn btn-outline-dark" href="{% url 'Eliminar_perfil' user.id %}"><i class=""></i>Eliminar Perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}



