{% extends 'AppCorrea/base.html' %}

{% load static %}

{% block title %} Editar usuario {% endblock title %}

{% block main %}

<div class="container">

    <h4>Editar Perfil de {{request.user.username}}</h4>
    
</div>


<div class="container px-5">
    <form action="" method="POST">{% csrf_token %}              
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit", value="Actualizar" class="btn btn-primary">
        <a href="{% url 'Inicio' %}" class="btn btn-primary m-2">Cancelar</a></button>
    </form><br>
        <a href="{% url 'Cambiar_password' %}" class="btn btn-primary">Cambiar Contraseña</a></button>
        <a href="{% url 'Eliminar_perfil' user.id  %}" class="btn btn-primary">Eliminar Perfil</a></button>
        


</div>


{% endblock main %}



